<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980884491423-di3sbjugmmnlna17f03go4pmp6ugf924.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980884491423-di3sbjugmmnlna17f03go4pmp6ugf924</string>
	<key>API_KEY</key>
	<string>AIzaSyDY3Pt_pApVSpgpCAxsbfn8jLdyu1UvSAU</string>
	<key>GCM_SENDER_ID</key>
	<string>980884491423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prashuk.Fitness</string>
	<key>PROJECT_ID</key>
	<string>ios-fitness</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-fitness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980884491423:ios:071a444ff53ae501d8e6aa</string>
	<key>DATABASE_URL</key>
	<string>https://ios-fitness.firebaseio.com</string>
</dict>
</plist>